body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #0C2B4E;
  padding: 10px 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  position: relative;
  padding-bottom: 4px;
  text-decoration: none;
  color: white;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #00c0a3;
  opacity: 0;
  
  transform: scaleX(0);
  transform-origin: center;   /* key change */
  
  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* hover effect */
nav a:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

/* active link */
nav a.active::after {
  opacity: 1;
  transform: scaleX(1);
}


main {
  padding: 40px 20px;
}

.hero {
  background: url('../img/background.jpg') center/cover;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  background-color: #00c0a3;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

footer {
  background-color: #0C2B4E;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}


